# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Signing / local artifacts
*.ipa
*.dSYM.zip
*.mobileprovision
